$base-size: 12px;

$brand-color: rgb(0, 187, 255);
$dark-color: rgba(95, 95, 95, 0.356);
$light-color: rgb(255, 255, 255);

$button-color: rgba(0, 110, 255, 0.878);
$button-hover-color: rgb(90, 90, 90);
